7.Misc filter=lfs diff=lfs merge=lfs -text
1.Neisseriacase.phylogeny.NTS.search filter=lfs diff=lfs merge=lfs -text
2.Nm8013.Proteins.flanked.by.NTS.Annotations filter=lfs diff=lfs merge=lfs -text
3.Nm8013.Protein.Homologs.Flanked.byNTS.in.NCBI filter=lfs diff=lfs merge=lfs -text
4.NTS.alignment filter=lfs diff=lfs merge=lfs -text
5.NTSlike.in.NCBI filter=lfs diff=lfs merge=lfs -text
6.GIY.YIG.and.Snn.Phylogeny filter=lfs diff=lfs merge=lfs -text
3.Nm8013.Protein.Homologs.Flanked.byNTS.in.NCBI/2.Extract.Flanking.Regions/All.Nm8013.proteome.homologs.in.NCBI.flanking.regions.tar.gz filter=lfs diff=lfs merge=lfs -text
3.Nm8013.Protein.Homologs.Flanked.byNTS.in.NCBI/2.Extract.Flanking.Regions/refseq_GCF_reference_genomes.20230828_blast.results.txt.gz filter=lfs diff=lfs merge=lfs -text
